* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 100vh;
  max-width: 400px;
  margin: 0 auto;
}
.container-cabecalho{
  display: flex;
  justify-content: center;
  margin: 20px ;
}
.logomarca{
  width: 280px;
  height: 71px;
  background-color: black;
  margin: 10px 20px 10px 20px;
}
.menu{
  width: auto;
  height: auto;
  margin: 30px 0px 30px 0px;
}
.menu li{
  display: inline;
  width: auto;
  height: auto;
  margin-right: 20px;
}
.menu a{
  text-decoration: none;
  color: black; 
}